<!DOCTYPE html>
<head>
    <script src="../frontScripts/checkUserId.js"></script
     <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../stylesheets/bootstrap.min.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../stylesheets/createQuiz/createQuiz.css">
    <script src="/socket.io/socket.io.js" ></script>



    <title>createQuiz</title>
</head>

<body>
    <!-- ****************************************-NAVBAR-****************************************** -->
  

    <div class="navTop">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">FCI</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
                    aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Home</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="#" id="timeLine">DashBored <span class="sr-only">(current)</span></a>
                        </li>


                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">Profile</a>
                            <div class="dropdown-menu" aria-labelledby="dropdown01">
                                <a class="dropdown-item" href="/quizes/" id="quizesLink">Quizes</a>
                                <a class="dropdown-item" href="/doneQuizes" id="doneQuizes">Done Quizes</a>
                                <a class="dropdown-item" href="/material/" id="materialLink">materials</a>
                                <a class="dropdown-item" href="" id="profileLink"> profile settings</a>
                                <a class="dropdown-item" href="../../users/logout" id="logoutLink">Logout</a>

                               

                            </div>
                        </li>
                    </ul>
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" id="search" onchange="greeting()">
                        <img src="../images/default.png" alt="" id="userProfileImage">
                    </form>
                </div>
            </div>
        </nav>
    </div>


    <!-- *****************************************-End-NAVBAR-***************************************** -->


    <!-- 
        //
        //
        //
     -->
    <!-- ******************************************-All************************************************** -->
    <div class="all clearfix">
        <!-- *****************************************-SaidBar |-***************************************** -->
        <div class="allLeft">
            <h5>MENU</h5>
            <ul>
                <li class="nav-item">
                    <a  class="nav-link" href="/doctors/" id="doctorSideBarLink"><i
                            class="fas fa-user-tie mr-2 "></i>
                        Doctors</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/students/" id="studentsSideBarLink"><i class="fas fa-users mr-2"></i> Student</a>
                </li>
                {{!-- <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fas fa-user-shield mr-2"></i> Affairs</a>
                </li> --}}
                <li class="nav-item">
                    <a class="nav-link" href="/events"><i class="far fa-calendar mr-2"></i>Events</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fas fa-image mr-2"></i> Media</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/messages"><i class="fas fa-comment-dots mr-2"></i>Massages<span class="badge badge-success float-right mt-1" id="unreadMessages"><!--# unreaded messages--></span> </a>
                </li>
            </ul>
            <br><br><br>
            <hr>
            <h5>PAGES</h5>
            <div class="pages"> 
                <li class=" mb-3"><i class="fas fa-graduation-cap mr-2"></i><a href="/posts/1">First Grade</a></li>
                <li class=" mb-3"><i class="fas fa-graduation-cap mr-2"></i> <a href="/posts/2">Second Grade</a></li>
                <li class="nav-item dropdown mb-3">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false"><i class="fas fa-graduation-cap mr-2"></i>Therd Grade</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                        <a class="dropdown-item" href="/posts/3cs">Computer Science (CS)</a>
                        <a class="dropdown-item" href="/posts/3is">Information System (IS</a>
                    </div>
                </li>
                <li class="nav-item dropdown mb-3">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false"><i class="fas fa-graduation-cap mr-2"></i>Fourth Grade</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                        <a class="dropdown-item" href="/posts/4cs">Computer Science (CS)</a>
                        <a class="dropdown-item" href="/posts/4is">Information System (IS</a>
                    </div>
                </li>
               
              
            </div>
        </div>
        <!-- *****************************************-END-SaidBar-***************************************** -->
        <!-- 
    //
    //
    //
 -->
        <!-- *****************************************-Body-***************************************** -->
        <!-- *****************************************-END-Body-***************************************** -->
        <div class="allRight">

            <div class="allRightTop mb-5">
                <nav class="navbar navbar-expand-md navbar-light bg-light">
                    <div class="container-fluid">
                        <div class="left">
                            <ul class="mt-3">
                                <li class=" dropdown">
                                    <a class="dropdown-toggle mr-2" href="#" id="dropdown01" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">MUNE</a>
                                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                                        <a class="dropdown-item" href="/doctors/" id="doctorssideBar2"><i
                                                class="fas fa-user-tie mr-2"></i>Doctors</a>
                                        <a class="dropdown-item" href="../../students" id="studentssideBar2"><i class="fas fa-users mr-2"></i>Student</a>
                                        <a class="dropdown-item" href="/events"><i class="far fa-calendar mr-2"></i>Events</a>
                                         <a class="dropdown-item" href="/messages"><i
                                                class="fas fa-comment-dots mr-2"></i>Massages</a>
                                    </div>
                                </li>
                                <li class=" dropdown ">
                                          <!-- ********************** -->
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">PAGES</a>
                                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                                        <a class="dropdown-item mb-2" href="/posts/1"><i
                                            class="fas fa-graduation-cap mr-2"></i>First Grade</a>
                                    <a class="dropdown-item mb-2" href="/posts/2"><i
                                            class="fas fa-graduation-cap mr-2"></i>Second Grade</a>
                                        <a class="dropdown-item mb-2" href="/posts/3cs"><i
                                            class="fas fa-graduation-cap mr-2"></i>Therd Grade (CS)</a>
                                            <a class="dropdown-item mb-2" href="/posts/3is"><i
                                                class="fas fa-graduation-cap mr-2"></i>Therd Grade (IS)</a>
                                    <a class="dropdown-item mb-2" href="/posts/4cs"><i
                                            class="fas fa-graduation-cap mr-2"></i>Fourth Grade (CS)</a>
                                        
                                    <a class="dropdown-item mb-2" href="/posts/4is"><i
                                            class="fas fa-graduation-cap mr-2"></i>Fourth Grade (IS)</a>
                                        
                                        
                                    </div>
                                </li>
                            </ul>
                        </div>
                        
                        <div class="right">
                            <span class="mr-1 " id="sideBarName">{{student.Name}} </span>
                            <img src="../uploads/{{student.ProfileImagePath}}" alt="" id="sideBarImage">

                        </div>
                    </div>
                </nav>
            </div>

    
        <div class="allRightBody">
          <!-- ***********************************************************create-Quiz********************************************* -->
          <div class="container">
            <div class="createQuiz">
              <h3>Create Quiz</h3>
              <div class="line"></div>

             <div id="intialQuuestion">
                <form action="">
                  <div class="form-group mt-5">
                      <!-- --------------Name of Quiz--------------------- -->

                    <div  id="intialQuiz">
                      <div class="row">
                      
                        <div class="input-group mb-3 col-md-6">
                          <input type="text" class="form-control" placeholder="Name of Quiz " id="quizName" >
                        </div>

                        <!-- --------------Choose...Levels--------------------- -->

                        <div class="input-group mb-3 col-md-6 mb-3">
                          <select class="custom-select" id="quizLevel">
                            <option selected>Choose...Levels</option>
                            <option value="1">First Grade</option>
                            <option value="2">Second Grade</option>
                            <option value="3cs">Third Grade (CS)</option>
                            <option value="3is">Third Grade (IS)</option>
                            <option value="4cs">Fourth Grade (CS)</option>
                          <option value="4is">Fourth Grade (IS)</option>
                          </select>
                        </div>
                      </div>

                        
                          <!-- ---------------Enter A question-------------- -->
                          <div class="input-group mb-3 ">
                              <div class="input-group-prepend">
                                <span class="input-group-text " id="basic-addon1">Q <sub>1</sub></span>
                              </div>
                              <input type="text" class="form-control" placeholder="Enter A question " aria-label="Username" aria-describedby="basic-addon1" id="firstQuiz">
                            </div>
                      </div>
                      <!-- ----------------Answer-------------------- -->
                        <div class="row justify-content-around">
                            
                          <div class="input-group mb-3 col-md-6">
                              <div class="input-group-prepend">
                                <span class="input-group-text " id="basic-addon1">a</span>
                              </div>
                              <input type="text" class="form-control" placeholder="Answer 1" aria-label="Username" aria-describedby="basic-addon1" id="op1">
                            </div>
                            <!-- ------------------- -->

                          <div class="input-group mb-3 col-md-6">
                              <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">b</span>
                              </div>
                              <input type="text" class="form-control" placeholder="Answer 2" aria-label="Username" aria-describedby="basic-addon1"  id="op2">
                            </div>
                            <!-- ------------------- -->

                          <div class="input-group mb-3 col-md-6">
                              <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">c</span>
                              </div>
                              <input type="text" class="form-control" placeholder="Answer 3" aria-label="Username" aria-describedby="basic-addon1"  id="op3">
                            </div>
                            <!-- ------------------- -->

                          <div class="input-group mb-3 col-md-6">
                              <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">d</span>
                              </div>
                              <input type="text" class="form-control" placeholder="Answer 4" aria-label="Username" aria-describedby="basic-addon1"  id="op4">
                            </div>
                            <!-- ------------------- -->
                            <div class="input-group mb-3 col">
                              <select class="custom-select ans" >
                                <option selected>Choose... Right Answer</option>
                                <option value="1">a</option>
                                <option value="2">b</option>
                                <option value="3">c</option>
                                <option value="4">d</option>
                              </select>
                            </div>
                        
                        </div>
                    </form>
                  </div> 
            </div>
          </div>
          
                  <div id="questionss"></div>
                
                
                  <!-- ----------------------------Button----------------------------------- -->
               
                  <button type="button" class="btn btn-danger" data-toggle="modal" id="addQuestion" >
                    <i class="fas fa-plus"></i> Add Quation
                  </button>
              

                  <button class="btn btn-success" onclick="myQuizes()"> Finished</button>
                  
                     

                </div>
                
              </form>
               
            </div>
          </div>
            
          <!-- ***** -->
          <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                   <!-- ***************** -->
                   <div id="addingValidation"></div>

                   <div class="form-group">
                    <label for="exampleFormControlTextarea1"
                      >Enter new Quation</label
                    >
                    <textarea
                      class="form-control"
                      id="questionAdd"
                      rows="3"
                      placeholder="Quation..."
                    ></textarea>
                  </div>
                  <div class="form-row mb-3">
                    <div class="col">
                      <label for="" style="color: #006699;"><b>A</b></label>
                      <input
                        id="opA"
                        type="text"
                        class="form-control"
                        placeholder="Answer A"
                      />
                    </div>
                    <div class="col">
                      <label for="" style="color: #006699;"><b>B</b></label>
                      <input
                        id="opB"
                        type="text"
                        class="form-control"
                        placeholder="Answer B"
                      />
                    </div>
                  </div>
                  <div class="form-row mb-3">
                    <div class="col">
                      <label for="" style="color: #006699;"><b>C</b></label>
                      <input
                        id="opC"
                        type="text"
                        class="form-control"
                        placeholder="Answer C"
                      />
                    </div>
                    <div class="col">
                      <label for="" style="color: #006699;"><b>D</b></label>
                      <input
                      id="opD"
                        type="text"
                        class="form-control"
                        placeholder="Answer D"
                      />
                    </div>
                  </div>
                  <div class="form-row mb-3">
                    <div class="col-6">
                      <label for="" style="color: #006699;"><b>E</b></label>
                      <input
                      id="opE"
                        type="text"
                        class="form-control"
                        placeholder="Answer E"
                      />
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="exampleFormControlSelect1"
                      >Select right Answer</label
                    >
                    <select class="form-control" id="ansR">
                      <option value="1">A</option>
                      <option value="2">B</option>
                      <option value="3">C</option>
                      <option value="4">D</option>
                      <option value="5"> E</option>
                    </select>
                  </div>
                  <!-- *************** -->
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary" id="addQ">Add Quation</button>
                </div>
              </div>
            </div>
          </div>
          <!-- ***** -->
        

          <!-- ***********************************************************End-create-Quiz********************************************* -->
        </div>
      </div>
    </div>

    <!-- *******************************************Scripts******************************** -->


  <script src="../frontScripts/createQuiz.js"></script>
  <script src="../js/jquary.js"></script>
  <script src="../js/poper.min.js"></script>
  <script src="../js/bootstrap.min.js"></script>
  </body>
</html>
