<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../stylesheets/bootstrap.min.css" />
  <link rel="stylesheet" href="../stylesheets/index/index.css" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />
  <title>About Us</title>
</head>

<body>
  <!-- ******************************************-NavBar-*********************************** -->
  <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top wow ">
    <div class="container">
      <a class="navbar-brand" href="#">FCI</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
        aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item ">
            <a class="nav-link waves-effect waves-light active" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
      
          <li class="nav-item">
            <a class="nav-link waves-effect waves-light" href="/feedes/" id="timeLineLink">Time Line</a>
          </li>
        
          <li class="nav-item">
            <a class="nav-link waves-effect waves-light" id="loginLink" href="../login" tabindex="-1" aria-disabled="true">Log
              In</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- ******************************************-End-NavBar-*********************************** -->
  <div class="container">
    <div class="one  clearfix mb-5">
      <div class="row">
        <div class="image col-md-6 mb-3">
          <img src="../images/index/5.jpg" alt="" style="width: 100%;" />
        </div>
        <div class="text col-md-6">
          <h3 class="">What does the Site Do ?</h3>
          <div class="line2 mb-1"></div>
          <div class="line mb-3"></div>
          <p class="text-muted ">
           Improve the educational process for the seek of college goals, and improve the efficiency of managements

          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- ************************************************************** -->
  <div class="container">
    <div class="two  clearfix mb-5">
      <div class="row">
        <div class="text col-md-6  ">
          <h3 class="mb-3">Creat Post</h3>
          <div class="line2 mb-1"></div>
          <div class="line mb-3"></div>
          <p class="text-muted ">
           Doctor and student have the ability to create post in any 
        student level and interact with  other posts

          </p>
        </div>
        <div class="image col-md-6">
          <img src="../images/index/7.jpg" alt="" style="width: 100%;" />
        </div>
      </div>
    </div>
  </div>
  <!-- ************************************************************** -->
  <div class="container">
    <div class="three  clearfix mb-5">
      <div class="row">
        <div class="image col-md-6 mb-3">
          <img src="../images/index/0.jpg" alt="" style="width: 80%;" />
        </div>
        <div class="text col-md-6 ">
          <h3 class="mb-3">Download And Upload !</h3>
          <div class="line2 mb-1"></div>
          <div class="line mb-3"></div>
          <p class="text-muted ">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere
            eius iste debitis eos nesciunt aperiam iure accusamus quasi
            adipisci culpa repellendus esse provident commodi, dicta ea! Ut
            sit doloribus omnis.
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- ************************************************************** -->
  <div class="container">
    <div class="four  clearfix mb-5">
      <div class="row">
        <div class="text col-md-6 ">
          <h3 class="mb-3">Affairs</h3>
          <div class="line2 mb-1"></div>
          <div class="line mb-3"></div>
          <p class="text-muted ">
           In our system Doctor have the ability to create quiz for any student Level 

          </p>
        </div>
        <div class="image col-md-6">
          <img src="../images/index/6.jpg" alt="" style="width: 100%;" />
        </div>
      </div>
    </div>
  </div>
  <!-- ************************************************************** -->
  
  <div class="container">
    <div class="five  clearfix mb-5">
      <div class="row">
        <div class="image col-md-6 mb-3">
          <img src="../images/index/9.png" alt="" style="width: 100%;" />
        </div>
        <div class="text col-md-6 ">
          <h3 class="mb-3">Show Profile</h3>
          <div class="line2 mb-1"></div>
          <div class="line mb-3"></div>
          <p class="text-muted ">
            During the Covid19 problem the need of the online learning system has
             a great role to continue the educational process 

          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- ************************************************************** -->
  <div class="container">
    <div class="six  clearfix mb-5">
      <div class="row">
        <div class="text col-md-6  ">
          <h3 class="mb-3">Edit Profile</h3>
          <div class="line2 mb-1"></div>
          <div class="line mb-3"></div>
          <p class="text-muted ">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere
            eius iste debitis eos nesciunt aperiam iure accusamus quasi
            adipisci culpa repellendus esse provident commodi, dicta ea! Ut
            sit doloribus omnis.
          </p>
        </div>
        <div class="image col-md-6">
          <img src="../images/index/17.png" alt="" style="width: 100%;" />
        </div>
      </div>
    </div>
  </div>
  <!-- ************************************************************** -->
  <div class="container">
    <div class="seven clearfix mb-5 ">
      <div class="row">
        <div class="image col-md-6 mb-3">
          <img src="../images/index/1.jpg" alt="" style="width: 80%;" />
        </div>
        <div class="text col-md-6 ">
          <h3 class="mb-3">Take Absence</h3>
          <div class="line2 mb-1"></div>
          <div class="line mb-3"></div>
          <p class="text-muted ">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere
            eius iste debitis eos nesciunt aperiam iure accusamus quasi
            adipisci culpa repellendus esse provident commodi, dicta ea! Ut
            sit doloribus omnis.
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- ************************************************************** -->
  <div class="container">
    <div class="eight  clearfix mb-5">
      <div class="row">
        <div class="text col-md-6 ">
          <h3 class="mb-3">Solve Quiz</h3>
          <div class="line2 mb-1"></div>
          <div class="line mb-3"></div>
          <p class="text-muted ">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere
            eius iste debitis eos nesciunt aperiam iure accusamus quasi
            adipisci culpa repellendus esse provident commodi, dicta ea! Ut
            sit doloribus omnis.
          </p>
        </div>
        <div class="image col-md-6">
          <img src="../images/index/16.jpg" alt="" style="width: 80%;" />
        </div>
      </div>
    </div>
  </div>
  <!-- ************************************************************** -->
  <div class="container">
    <div class="nine  clearfix mb-5">
      <div class="row">
        <div class="image col-md-5 mb-3">
          <img src="../images/index/15.jpg" alt="" style="width: 100%;" />
        </div>
        <div class="text col-md-7  ">
          <h3 class="mb-3">Chat</h3>
          <div class="line2 mb-1"></div>
          <div class="line mb-3"></div>
          <p class="text-muted ">
           Student and doctor and admin can communicate through the real time chat 

          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- ************************************************************** -->
  <div class="container">
    <div class="ten  clearfix mb-5">
      <div class="row">
        <div class="text col-md-7  ">
          <h3 class="mb-3">Idea !</h3>
          <div class="line2 mb-1"></div>
          <div class="line mb-3"></div>
          <p class="text-muted ">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere
            eius iste debitis eos nesciunt aperiam iure accusamus quasi
            adipisci culpa repellendus esse provident commodi, dicta ea! Ut
            sit doloribus omnis.
          </p>
        </div>
        <div class="image col-md-5 ">
          <img src="../images/index/2.jpg" alt="" style="width: 100%;" />
        </div>
      </div>
    </div>
  </div>
  <!-- ************************************************************** -->
  <div class="container">
    <div class="eleven  clearfix mb-5">
      <div class="row">
        <div class="image col-md-5 ">
          <img src="../images/index/19.jpg" alt="" style="width: 100%;" />
        </div>
        <div class="text col-md-7  ">
          <h3 class="mb-3">How to Log in ?</h3>
          <div class="line2 mb-1"></div>
          <div class="line mb-3"></div>
          <p class="text-muted ">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere
            eius iste debitis eos nesciunt aperiam iure accusamus quasi
            adipisci culpa repellendus esse provident commodi, dicta ea! Ut
            sit doloribus omnis.
          </p>
          <button id="loginBtn" class="btn btn-primary px-3"> Log
              in</button>
        </div>
      </div>
    </div>
  </div>
  <!-- ****************************Footer******************************* -->
  {{!-- {{> footer}} --}}
  <!-- ****************************End-Footer******************************* -->
  <!-- *******************Script Dont Paly Please*********************** -->
  <script src="../frontScripts/index.js"></script>
  <script src="../js/jquary.js"></script>
  <script src="../js/fontawesome.min.js"></script>
  <script src="../js/poper.min.js"></script>
  <script src="../js/bootstrap.min.js"></script>
  <!-- ****************************************** -->
</body>

</html>